/.idea/**
*.pyc
*.c
/test.py
/setup.py
/build_sites.py
/web/backend/user.py
/build/**
/venv/**
/cloudflarespeedtest/**

__pycache__/

.venv
.*_cache
test-config*
tests
.vscode
.github
nohup.out
config-docker-*
